/* css/style.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #111;
  font-weight: 600;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 80px;
  padding: 0 20px;
}

header a {
  color: #fff;
}

div[style="margin: auto; max-width: 800px;"] {
  padding-bottom: 80px;
  margin: 0 auto;
  max-width: 800px;
}

main {
  flex-grow: 1;
}

footer {
  background-color: orange;
  color: #fff;
  padding: 20px;
  text-align: center;
  
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1; /* Ensure the footer is above other elements */
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  margin: 4px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  margin-top: 6px;
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d8ab31;
}

.post-container {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-container p {
  margin: 0;
  color: #111;
}

.post-container p:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}

.post-container a {
  display: inline-block;
  margin-top: 10px;
  color: #0066c0;
}

.post-container a:hover {
  text-decoration: underline;
}

.dark-mode {
  background-color: #222;
  color: #ccc;
}

.edit-form-container form {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 20px;
  color: #111;
  border: 1px solid #ccc;
}

.edit-form-container label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.edit-form-container textarea {
  width: 100%;
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.edit-form-container button[type="submit"]:hover {
  background-color: #d8ab31;
}

/* Logo */
.logo-container {
  text-align: center;
  padding: 16px;
}

.logo-container img {
  width: 150px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

/* photo import */
.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.file-input-label {
  display: inline-block;
  padding: 4px 10px;
  background-color: #3897f0;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #1877c5;
}

.file-input-label:active {
  background-color: #0e5fa6;
}

.file-input-label::after {
  content: 'Choose File';
}

.file-input-preview {
  margin-top: 10px;
}

.file-input-preview img {
  max-width: 200px;
}

/* on phones */
/* ... previous CSS code ... */

/* Hamburger Menu */
.menu-toggle {
  display: none;
  /* Hide the menu toggle by default */
}

nav {
  display: none;
  /* Hide the navigation menu by default */
}

@media only screen and (max-width: 600px) {
  /* Show the menu toggle on mobile devices */
  .menu-toggle {
    display: block;
    padding: 16px;
    cursor: pointer;
  }

  /* Styles for the hamburger icon */
  .menu-toggle .bar {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #262626;
    margin-bottom: 4px;
  }

  /* Adjustments to the header layout on mobile devices */
  header {
    flex-direction: row;
    justify-content: center;
    height: auto;
  }

  header div {
    padding: 8px;
  }

  /* Show/hide the navigation menu when the menu toggle is clicked */
  header nav {
    display: none;
  }

  header.nav-open nav {
    display: block;
  }
}

/* product image  */
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  /* Adjust the width to fit your layout */
  height: 200px;
  /* Adjust the height to fit your layout */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-row {
  width: 100%;
  max-width: 1200px;
  /* Adjust the maximum width as needed */
  display: flex;
  justify-content: space-between;
}

.product {
  width: 23%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .product .product-image img {
    width: 100%;
  }
}

/* log out button  */
.logout-btn {
  margin: auto;
  padding: 10px 20px;
  background-color: #3897f0;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #1877c5;
}
